@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #222222;
  color: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222222;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
}

.text-gradient {
  background: linear-gradient(to right, #3498db, #5dade2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-accent-gradient {
  background: linear-gradient(to right, #3498db, #5dade2);
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Selection */
::selection {
  background: rgba(52, 152, 219, 0.3);
  color: #FFFFFF;
}